<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <p><i class="fa fa-copyright fa-flip-horizontal"></i> 2018 FOSSers</p>
        <p><a href="https://gitlab.com/FOSSers/fossers.gitlab.io">LICENSES.<br/>Fork This</a></p>
      </div>
    </div>
  </div>
</footer>
